* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;

  display: flex;
  flex-direction: column;
  padding: 64px;
  gap: 64px;
}

.wrapper {
  display: flex;
  gap: 32px;
}

.month-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.table-days {
  max-height: 640px;
  overflow-y: scroll;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  min-width: 128px;
}

tr:nth-child(even) {
  background-color: rgb(222, 222, 228);
}
